<div class="page-header">
  <h3>Battle #<%= @battle.id %></h3>
</div>

<div class="row">
  <div class="col-md-12 mb-2">
    <dl class="dl-horizontal">
      <dt>Offense</dt>
      <dd><%= @battle.offense_id %></dd>

      <dt>Defense</dt>
      <dd><%= @battle.defense_id %></dd>

      <dt>Effectiveness</dt>
      <dd><%= @battle.effectiveness %></dd>

    </dl>

    <div class="btn-group btn-group-justified">
      <a href="/battles" class="btn btn-primary">
        Back
      </a>
      <a href="/battles/<%= @battle.id %>/edit" class="btn btn-warning">
        Edit
      </a>
      <a href="/delete_battle/<%= @battle.id %>" class="btn btn-danger" rel="nofollow">
        Delete
      </a>
    </div>
  </div>
</div>
